@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:rgb(34, 33, 33);
    font-size:8px;
 
}
main{
    display:flex;
    justify-content: center;
    gap:1em;
    margin:auto;
    margin-top:5em;
}
.p{
    display:block;
    padding:3px;
    text-align: justify;
    margin-bottom:2em;
}
.icon{
    display:flex;
    padding:2px;
    gap:1em;
}
.fas,.far{
    float:left;
   margin-left:0.2em;
}
.cats{
    border:1px solid gray;
    border-radius:1em;
    width:25vw;
    height: auto;
    background-color: rgba(109, 105, 105, 0.321);
    text-align:center;
    position:relative;
}
.cat_image{
    width:100%;
    height:auto;
    object-fit: contain;
}
.box{
    width:30px;
    height:30px;
    border:1px solid white;
    background-color:white;
    border-radius:15px;
    
}
.cat_name{
    color:black;
    
}
.date{
    color:white;
   
}
strong{
    color:black;
}
.container1{
    display:flex;
    justify-content: left;
    align-items:center;
   
}
.fa-ellipsis-h{
    float:right;
    padding:1em;
    font-size:1.5em;
}

.container2{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1px;
    padding:0.5em;
}
@media (max-width: 375px) {
    main {
      justify-content:flex-start;
      flex-flow: row wrap;
      
    }
   .cats {
      width: min(100%, 400px);
    }
  }
  @media (max-width: 768px) {
    main {
      justify-content:flex-start;
      flex-flow: row wrap;
    }
    .cats {
        width: min(100%, 150px);
      }
   
  }
  
